{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}

    <body>

        <div class = "container bg-light shadow-md p-5 form-layout">

            <h3> Create record</h3>

            <h6>Add the required details</h6>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.first_name|as_crispy_field}}

                <br>
                
                {{form.last_name|as_crispy_field}}

                <br>
                
                {{form.email|as_crispy_field}}

                <br>
                
                {{form.phone|as_crispy_field}}

                <br>
                
                {{form.address|as_crispy_field}}

                <br>
                
                {{form.company_branch|as_crispy_field}}

                <br>
                
                {{form.car_model|as_crispy_field}}

                <br>
                
                {{form.plate_number|as_crispy_field}}

                <br>
                {{form.car_color|as_crispy_field}}

                <br>
                
                {{form.agent_name|as_crispy_field}}

                <br>
                
                {{form.agent_number|as_crispy_field}}

                <br>
                
                <button type="submit" class="btn btn-primary">

                     Create record &nbsp; <i class='fa fa-check' aria-hidden="true"></i>

                </button>

                &nbsp;

                <a href="{% url 'dashboard' %}" class="btn btn-secondary">

                    Return &nbsp;  <i class='fa fa-arrow-left' aria-hidden="true"></i>

                </a>
            </form>

        </div>

    </body>

{% endblock %}